<nav class="navbar navbar-expand-lg sticky-lg-top nav-bg border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/media/jmarcity.png" alt="" width="150">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#jmarcityNavbar"
            aria-controls="jmarcityNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="jmarcityNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Navbar dropdown -->
                <li class="nav-item text-white dropdown dropdown-hover position-static">
                    <a data-mdb-dropdown-init class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <!-- Dropdown menu -->
                    <div class="dropdown-menu w-75 mt-0" aria-labelledby="navbarDropdown"
                        style="border-top-left-radius: 0; border-top-right-radius: 0;">
                        <div class="container">
                            <div class="row my-4 align-items-center justify-content-between">
                                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                    <div class="list-group list-group-flush">
                                        <p class="mb-0 list-group-item text-uppercase fw-bold highlight-text">
                                            Medicine
                                        </p>
                                        <a href="" class="list-group-item list-group-item-action">Dolor sit</a>
                                        <a href="" class="list-group-item list-group-item-action">Amet consectetur</a>
                                        <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                                        <a href="" class="list-group-item list-group-item-action">Adipisicing elit</a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                    <div class="list-group list-group-flush">
                                        <p class="mb-0 list-group-item text-uppercase fw-bold highlight-text">
                                            Medicine
                                        </p>
                                        <a href="" class="list-group-item list-group-item-action">Dolor sit</a>
                                        <a href="" class="list-group-item list-group-item-action">Amet consectetur</a>
                                        <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                                        <a href="" class="list-group-item list-group-item-action">Adipisicing elit</a>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <div class="list-group list-group-flush">
                                        <p class="mb-0 list-group-item text-uppercase fw-bold highlight-text">
                                            Medicine
                                        </p>
                                        <a href="" class="list-group-item list-group-item-action">Dolor sit</a>
                                        <a href="" class="list-group-item list-group-item-action">Amet consectetur</a>
                                        <a href="" class="list-group-item list-group-item-action">Cras justo odio</a>
                                        <a href="" class="list-group-item list-group-item-action">Adipisicing elit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- Search -->
            <app-search></app-search>
        </div>
    </div>
</nav>