<!-- Banner -->
<app-banner></app-banner>

<!-- Trending Medicine Products -->
<section class="container-fluid bg-main-dark trending-med-section">


    <!-- List. -->
    <div class="container ">
        <div class="ribbon text-black">
            <p><b>Trending Medicine</b></p>
        </div>
        <div class=" row gx-3 justify-content-center py-4">
            <div class="col-lg-2 col-md-6">
                <div class="med-card rounded-3">
                    <div class="med-list-img d-flex justify-content-center align-items-center my-2 ">
                        <img class="w-100 rounded-3"
                            src="https://cdn.nhathuoclongchau.com.vn/unsafe/128x128/https://cms-prod.s3-sgn09.fptcloud.com/DSC_09335_24b9811179.jpg"
                            alt="">
                    </div>
                    <div class="card-body">
                        <p class="med-card-text main-truncate">
                            Viên sủi Kudos Daily Vitamins Plus Biotin & Ginseng hương cam giúp bổ sung vitamin cho cơ
                            thể (20 viên)
                        </p>

                        <p class="med-card-price">
                            {{101.200 | vndCurrency}} / <span>Tuýp</span>
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-lg-2 col-md-6">

            </div>

            <div class="col-lg-2 col-md-6">

            </div>

            <div class="col-lg-2 col-md-6">

            </div>

            <div class="col-lg-2 col-md-6">

            </div>

            <div class="col-lg-2 col-md-6">

            </div>

        </div>
    </div>
</section>
<!-- Trending Medicine Brands -->

<!-- Trending Medicine Categories -->

<!-- Today's Suggeston -->