<!-- Banner -->
<app-banner></app-banner>

<!-- Trending Medicine Products -->
<section class="container-fluid bg-main-dark trending-med-section">


    <!-- List. -->
    <div class="container ">
        <div class="ribbon text-black">
            <p><b>Trending Medicine</b></p>
        </div>
        <div class=" row  py-4 justify-content-center">

            <div *ngFor="let card of [].constructor(12)" class="col-xl-2 col-lg-3 col-md-4 px-0">
                <app-med-card></app-med-card>
            </div>



        </div>
    </div>
</section>
<!-- Trending Medicine Brands -->

<!-- Trending Medicine Categories -->

<!-- Today's Suggeston -->