<div class="med-card rounded-3 m-2">
    <!-- Med's img -->
    <div class="med-list-img d-flex justify-content-center align-items-center my-2 ">
        <img class="w-100 rounded-3"
            src="https://cdn.nhathuoclongchau.com.vn/unsafe/128x128/https://cms-prod.s3-sgn09.fptcloud.com/DSC_09335_24b9811179.jpg"
            alt="">
    </div>
    <!-- Med's name -->
    <div class="card-body">
        <p class="med-card-text main-truncate">
            Viên sủi Kudos Daily Vitamins Plus Biotin & Ginseng hương cam giúp bổ sung vitamin cho cơ
            thể (20 viên)
        </p>

        <!-- Med's price -->
        <p class="med-card-price">
            {{101.200 | vndCurrency}} / <span>Tuýp</span>
        </p>

        <!-- Med's unit type -->
        <span class="my-2">Tuýp</span>
    </div>
</div>