<div class="container margin-block">
    <!-- Breadcrumb -->
    <nav class="my-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Medicine</li>
        </ol>
    </nav>


    <!-- Content -->
    <div class="row p-2">
        <!-- Gallery -->
        <div class="col-lg-6 bg-danger">
            Hình
        </div>
        <!-- Quick Information -->
        <div class="col-lg-6 bg-opacity-75">
            <!-- Brand -->
            <div>
                <span class="">Thương hiệu:&nbsp;</span>
                <span class="">
                    <a class="highlight-text" href="#">Thành Công</a>
                </span>
            </div>

            <!-- Med name -->
            <h1 class="align-middle fw-medium name-size my-2">Viên uống Kotimogin Thành Công tăng
                cường sức khỏe, hạn chế sự lão hóa (20 vỉ x 3 viên)
            </h1>

            <!-- Med price -->
            <div class="">
                <div class="prices">
                    <div class="sale-price">
                        <span class=" display-5 highlight-text">{{101.200 | vndCurrency}}</span>
                        <span class="text-label1 md:text-title3 font-medium md:font-normal">&nbsp;/&nbsp;Hộp</span>
                    </div>
                    <div class="original-price">
                        <span class=" fs-5 highlight-text text-decoration-line-through">{{301.500 |
                            vndCurrency}}</span>
                    </div>
                </div>
            </div>

            <!-- Med info table -->
            <div class="my-2">
                <table class="tb-content-list">
                    <tbody>
                        <tr class="tb-content-container mb-4">
                            <td class="d-flex align-items-center">
                                <p class="tb-conten-row">Chọn đơn vị tính</p>
                            </td>
                            <td>
                                <p class="">Hộp</p>
                            </td>
                        </tr>

                        <tr class="tb-content-container mb-4">
                            <td class="d-flex align-items-center">
                                <p class="tb-conten-row">Chọn đơn vị tính</p>
                            </td>
                            <td>
                                <p class="">Hộp</p>
                            </td>
                        </tr>

                        <tr class="tb-content-container mb-4">
                            <td class="d-flex align-items-center">
                                <p class="tb-conten-row">Chọn đơn vị tính</p>
                            </td>
                            <td>
                                <p class="">Hộp</p>
                            </td>
                        </tr>

                        <tr class="tb-content-container mb-4">
                            <td class="d-flex align-items-center">
                                <p class="tb-conten-row">Chọn đơn vị tính</p>
                            </td>
                            <td>
                                <p class="">Hộp</p>
                            </td>
                        </tr>

                        <tr class="tb-content-container mb-4">
                            <td class="d-flex align-items-center">
                                <p class="tb-conten-row">Chọn đơn vị tính</p>
                            </td>
                            <td>
                                <p class="">Hộp</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>



    </div>