@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap");
:root {
  --main-dark: #0f0f0f;
  --primary: #90d26d;
}

.highlight-text {
  color: var(--primary) !important;
}

.bg-highlight {
  background-color: var(--primary);
  opacity: 1;
}

.banner-big {
  height: 245px;
  object-fit: cover;
}
.banner-small {
  max-width: 350px;
  height: auto;
  object-fit: cover;
}
